<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campusassistance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusAssistance">
        <activity android:name=".account.activity.GoodsReleasedRecord"></activity>
        <activity android:name=".account.activity.ReleaseGood" />
        <activity android:name=".account.servlet.ChangePassword" />
        <activity android:name=".account.servlet.Login" />
        <activity android:name=".goods.activity.OneByOneChatAcitvity" />
        <activity android:name=".goods.activity.GoodsDetailActivity" />
        <activity android:name=".init.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>